/* .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  }
   */
   .row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
   
  }
  
  .card-ui {
    top: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 15px;
    overflow: hidden;
    position: relative;
    width: calc(33.333% - 30px);
    cursor: pointer;
  }
  
  .card-ui img {
    height: 200px;
    min-height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .card-ui h5 {
    color: #333;
    font-size: 24px;
    margin: 0;
    padding: 15px;
  }
  
  .card-ui p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 15px;
  }
  
  .card-ui .btn {
    border: none;
    bottom: -12px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .book-icon {
    position: absolute;
    left: 49%;
    bottom: -10px;
    font-size: 25px;
    transform: translate(-50%, -50%);
    color: #000;
  }
.description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
}

.modal-content {
  width: 100%;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  .modal-title {
    color: #333;
    font-size: 24px;
    margin: 0;
    padding: 15px;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .btn-primary {
    padding: 8px 20px;
    cursor: pointer;
  }
}

